@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grocery Store</h1>
    <p class="lead"> I have made my small Grocery Store. This has department and Orderss table. </p>
    <p> I have included both foreign key and primary key</p>
    <p>This project has model views and controllers through scafffolding</p>
    <p>This project has authenticated and authorization security for app protection</p>
    <p>This project has google authentication and also social microsoft authentication</p>
    <p><a href="http://localhost:60316/Account/Login?ReturnUrl=%2FDepartments" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
        <h2> Start Grocery Shopping with my store </h2>
        <p>Register with your account to start shopping</p>
        <p><a class="btn btn-default" href="http://localhost:60316/Account/Register">Learn more &raquo;</a></p>
  
</div>